{
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "quotes": [2, "single"]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
